<template name="FeedList">
  <div class="list-group">
    {{#each this.cachedFeed}}
    <a class="list-group-item">
      <div>
        <div>
          <div class="media-container">
          {{#if equals type "video"}}
            <video controls height="306" width="306"> 
              <source src="{{videos.low_resolution.url}}" type="video/mp5">
            </video>
          {{else}}
            <img src="{{images.low_resolution.url}}" class="img-rounded">
          {{/if}}
              <div class="media-overlay"></div>
              <div class="media-info">
                {{#linkTo route="instagram.account.show" params=this.user}}
                  <img class="img-circle avatar avatar-sm" src="{{this.user.profile_picture}}">
                {{/linkTo}}&nbsp;&nbsp;

                {{formatUnixShortDate created_time}}&nbsp;&nbsp;
              </div>
            </div>

          <a class="like">
            <i class="fa fa-heart"></i>
          </a>
        </div>

        <div>
          {{caption.text}}
        </div>
      </div>
    </a>
    {{else}}
      No Feed
    {{/each}}
    <a class="list-group-item load-more btn">
      Load more....
    </a>
  </div>
</template>
