<template name="ListShow">
  <div id="list-hero" class="well">
    <!-- {{#InlineEditor}} -->
    <div class="list-hero">
      <div class="list-title">
        <h2>{{name}}</h2>
      </div>
      <div class="list-control">
        <a class="delete-list">
          <i class="fa fa-trash-o"></i>
        </a>
<!--         <button type="button" class="close cancel">
          cancel
        </button> -->
      </div>
    </div>

    <ul class="avatar-list">
      {{#each members}}
        <li class="avatar-item">
          <img class="img-circle avatar avatar-md" src="{{profile_picture}}">
          <button type="button" class="close remove-from-list">&times;</button>
          <!-- <a class="remove-from-list">
            remove
          </a> -->
        </li>
      {{/each}}
    </ul>
<!--     {{else}}
      <div class='list-hero'>
        <div class="list-title">
          <h2>{{name}}</h2>
        </div>
        <div class="list-control">
          <button type="button" class="close edit">
            edit
          </button>
        </div>
      </div>

      <ul class="avatar-list">
        {{#each members}}
          <li class="avatar-item">
            <img class="img-circle avatar avatar-md" src="{{profile_picture}}" title="{{username}}">
          </li>
        {{/each}}
      </ul>
    {{/InlineEditor}} -->
  </div>

  <div class="content">
    {{> FeedList}}
  </div>
</template>
