<template name="LeftPanel">
  <div class="row">
    <div class="col-md-12">
      {{#linkTo route="home"}}
        HOME
      {{/linkTo}}&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      LIST
    </div>
    <ul>
      {{#each currentUser.lists}}
        <li class="lists">
          {{#linkTo route="list.show" params=this}}
            {{name}}
          {{/linkTo}}
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="row">
    <div class="col-md-12">
      SAVED HASHTAGS  
    </div>
    <ul>
      {{#each currentUser.saved_hashtags}}
        <li class="lists">
          {{#linkTo route="hashtag.show" name=this}}
            {{this}}
          {{/linkTo}}
        </li>
      {{/each}}
    </ul>
  </div>
</template>
